body {
	margin: 0;
	padding: 0;
}

.navbar, .navbar.navbar-default {
}

#map .navbar-brand {
	font-weight: bold;
}

#map .panel-body {
	background: #fff;
	width: 100%;
}

#map #orbitform {
	background: #fff;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#map #orbitform tr th,
#map #orbitform tr td {
	padding: 4px;
	text-align: center;
}

#map #orbitform .unit-type {
	height: 20px;
	width: 20px;
}

#map #orbitform .orbit-calc {
	text-align: center;
	max-width: 60px;
}

#map #orbitform .search-not-found {
	display: none;
}

.mode-data .orbit-calc-total {
	display: none;
}

.mode-calc .orbit-calc-total {
	display: block;
}

.mode-calc .orbit-calc-total label {
	color: inherit;
}

.mode-calc .orbit-calc-reset {
    border-bottom: 1px solid #fff;
	color: #fff;
    font-weight: normal;
    padding: 0;
}

.orbit-header-hdr-description {
	display: none;
}

.orbit-data-hdr-description {
	display: none;
}

.orbit-calc-total {
	height: 50px;
	padding-top: 4px;
    padding-bottom: 5px;
}

.orbit-calc-total label {
	font-size: 14px;
}

#search {
	padding: 2px 0 0 0;
}